<header class="block__header">
  <h1>Passwort ändern</h1>
  <h2 class="h3">Sie können Ihr Passwort ändern</h2>
</header>
<form [formGroup]="changePassForm"
      (ngSubmit)="onSubmit(changePassForm.value)" #form="ngForm">
  <div class="grid">
    <div class="col-6_md-12">
      <md-input-container class="input">
        <input mdInput placeholder="Altes Passwort" id="userOldPassword" formControlName="userOldPassword"
               [(ngModel)]="oldPassword"
               #oldPassEl type="password">
        <button class="input__control" type="button" (click)="changeOldPasswordType()">
          <md-icon *ngIf="showOld; else visibilityOff">visibility_off</md-icon>
          <ng-template #visibilityOff>
            <md-icon>remove_red_eye</md-icon>
          </ng-template>
        </button>
        <md-error>{{ formErrors.userOldPassword }}</md-error>
      </md-input-container>
      <div class="text-uppercase" align="end">
        <a (click)="forgotPassword()">Passwort vergessen?</a>
      </div>
      <md-input-container class="input">
        <input mdInput placeholder="Neues Passwort" id="userPassword" formControlName="userPassword"
               [(ngModel)]="password"
               #passEl type="password">
        <button class="input__control" type="button" (click)="changePasswordType()">
          <md-icon *ngIf="show; else visibilityOff">visibility_off</md-icon>
          <ng-template #visibilityOff>
            <md-icon>remove_red_eye</md-icon>
          </ng-template>
        </button>
        <md-hint><span class="text-no-transform">Das Passwort muss mindestens 8 Zeichen lang sein und aus Grossbuchstaben, Kleinbuchstaben und Zahlen bestehen</span></md-hint>
        <md-error>{{ formErrors.userPassword }}</md-error>
      </md-input-container>
      <md-input-container class="input">
        <input mdInput placeholder="Bitte wiederholen Sie Ihr Passwort" id="userConfirmPassword"
               formControlName="userConfirmPassword" [(ngModel)]="confirmPassword" #confPassEl type="password">
        <button class="input__control" type="button" (click)="changeConfPasswordType()">
          <md-icon *ngIf="showConf; else visibilityConfOff">visibility_off</md-icon>
          <ng-template #visibilityConfOff>
            <md-icon>remove_red_eye</md-icon>
          </ng-template>
        </button>
        <md-error *ngIf="formErrors.userConfirmPassword.length">{{ formErrors.userConfirmPassword }}</md-error>
      </md-input-container>
    </div>
  </div>
  <div class="flex-justify-end">
    <button class="btn" md-raised-button type="submit" [disabled]="!changePassForm.valid">Speichern</button>
  </div>
</form>
