@import "../../../../styles/base/index";

/deep/ {
  .forgot-pass {
    display: flex;
    justify-content: flex-end;
    margin-top: rem-calc(-10);
    .btn {
      line-height: rem-calc(18);
    }
  }
  .input,
  .input.mat-input-container {
    .mat-input-subscript-wrapper {
      margin-top: rem-calc(7);
    }
  }
}
