@import "../base/index";

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  margin: 0;
}

body {
  height: 100%;
  min-width: rem-calc(320);
  margin: 0;
  background-color: map-get($grays, base);
}

/* todo: replace this to the header functionality */
body {
  padding-top: 50px;
  @include respond-from(md) {
    padding-top: 73px;
  }
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  outline: 0;
}

textarea {
  resize: vertical;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include ellipsis;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  -webkit-appearance: button;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input::-webkit-contacts-auto-fill-button {
  visibility: hidden;
  display: none !important;
  pointer-events: none;
  position: absolute;
  right: 0;
}

