@import "../base/index";

.slider-range {
  position: relative;
  max-width: 100%;
  margin: rem-calc(29) 0 rem-calc(35);
  @include respond-from(xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: rem-calc(377);
    margin: rem-calc(28) 0 rem-calc(19);
  }
  &--alt {
    width: auto;
    margin: rem-calc(12) 0 rem-calc(5);
  }
  &--full-width {
    width: 100%;
    max-width: none;
    .slider-range__control {
      width: 100%;
      max-width: none;
    }
  }
}

nouislider.slider-range__control {
  margin: 0;
  @include respond-from(xs) {
    flex: 1 1 #{rem-calc(307)};
    max-width: rem-calc(307);
  }
}

.slider-range__value {
  display: block;
  margin: rem-calc(-32) 0 rem-calc(8);
  font-size: rem-calc(13);
  text-align: right;
  @include respond-from(xs) {
    margin: rem-calc(-4) 0 0;
    font-size: rem-calc(16);
    color: map-get($grays, dark-primary);
  }
}

.slider-range {
  .noUi-base {
    position: relative;
    cursor: pointer;
    background-size: inherit;
    &::after {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: rem-calc(2);
      margin-top: rem-calc(-2);
      background: repeating-linear-gradient(to right, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.87) 2px, transparent 0, transparent) repeat;
      background-size: inherit;
      opacity: 0;
      transition: opacity .4s cubic-bezier(.25,.8,.25,1);
      content: '';
    }
  }
  .noUi-target {
    height: rem-calc(11);
    border: 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    background-size: inherit;
    &::before {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: rem-calc(2);
      margin-top: rem-calc(-2);
      background-color: map-get($grays, dark-disabled);
      content: '';
    }
  }
  .noUi-connect {
    background-color: map-get($colors, primary);
    box-shadow: none;
    height: rem-calc(2);
    top: rem-calc(4);
  }
  .noUi-horizontal .noUi-handle {
    left: rem-calc(-12);
    top: rem-calc(-7);
    width: rem-calc(24);
    height: rem-calc(24);
    background-color: transparent;
    box-shadow: none;
    border: 0;
    cursor: pointer;
    outline: 0;
    &::before,
    &::after {
      display: none;
    }
    &::before {
      display: block;
      background-color: map-get($colors, primary);
      position: absolute;
      width: rem-calc(12);
      height: rem-calc(12);
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      content: '';
    }
  }
  &:hover .noUi-base::after {
    opacity: 1;
    transition: opacity .4s cubic-bezier(.25,.8,.25,1);
  }
}
