$colors: (
  primary: #ff6634,
  success: #008b34,
  danger: #df0000,
  auxiliary: #f3df00,
  info: #448ccb,
);

$grays: (
  dark-primary: rgba(#000, .87),
  dark-secondary: rgba(#000, .54),
  dark-disabled: rgba(#000, .38),
  light-primary: #fff,
  light-secondary: rgba(#fff, .70),
  light-disabled: rgba(#fff, .50),
  base: #f2f2f2
);
