doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Dear #{company_name}!
    p Your feedback request #{job_title} was refused by rater. Please contact your rater or try again.
