doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     p Hi #{name}!
     p We got your letter and in the near future we will answer it.
     p
     p Text of your later: #{text}
