doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Hi #{login}!
    p If is it you trying to change password tap on next link:
    a(href="#{URL}") #{URL}
    p if not, ignore this letter.
