doctype html
html
  head
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    p Dear, #{first_name} #{last_name}!
    p Your feedback was refused:
    p #{job_description}
    p
    p The reason:
    p #{reason_reject}
