@import "../../../styles/base/index";

:host(.header) {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: rem-calc(300);
  height: rem-calc($header-height-mobile);
  background-color: map-get($colors, primary);
  box-shadow: 0 0 7px rgba(0, 0, 0, .5);
  z-index: 20;
  @include respond-from(md) {
    height: rem-calc($header-height-desktop);
    background-color: map-get($grays, light-primary);
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.header__logo {
  margin-left: auto;
  margin-right: auto;
  @include respond-from(md) {
    margin-left: 0;
  }
}

.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
  overflow: visible;
  @include respond-to(md) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
    transform: translate(-100%, 0);
    transition: transform .4s ease-in-out;
    &.nav--active {
      transform: translate(0, 0);
      transition: transform .4s ease-in-out;
      .nav__underlay {
        opacity: 1;
        transition: opacity .4s ease-in-out;
        pointer-events: auto;
      }
    }
    .nav__header {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      padding: 28px 15px 0;
      width: 270px;
      height: 160px;
      background-color: map-get($colors, primary);
      z-index: 25;
    }
    .nav__list {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding-top: rem-calc(160);
      flex-direction: column;
      align-items: flex-start;
      width: rem-calc(270);
      background: map-get($grays, light-primary);
      z-index: 20;
      overflow: visible;
      transform: translate(0, 0);
      transition: transofrm .4s ease-in-out;
    }
    .nav__underlay {
      opacity: 0;
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 200%;
      background-color: map-get($grays, dark-secondary);
      transition: opacity .4s ease-in-out;
      cursor: pointer;
      pointer-events: none;
    }
    .nav__item {
      height: auto;
      margin-left: 0;
      padding: rem-calc(10) rem-calc(13) rem-calc(5);
    }
    .nav__item-ico {
      display: block;
      margin-right: rem-calc(3);
      color: #737373;
    }
    .nav__avatar {
      margin-bottom: 32px;
    }
  }
}

.header__search {
  margin-right: rem-calc(-32);
  color: map-get($grays, light-primary);
  @include respond-from(md) {
    width: rem-calc(64);
    min-width: 0;
    margin-right: 0;
    margin-left: rem-calc(0);
    color: map-get($grays, dark-primary);
  }
  .mat-button-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
}

.header__search-ico {
  .header__search & {
    margin-top: -2px;
    margin-right: -3px;
    &.mat-icon {
      padding: 0;
      line-height: 1.2;
    }
  }
}

.header__search-block {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  height: rem-calc(44);
  margin: auto 0 auto auto;
  padding: 0 rem-calc(2);
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .24);
  z-index: 5;
  &--active {
    @include respond-from(md) {
      margin-right: rem-calc(160);
      max-width: rem-calc(830);
    }
  }
}

.header__search-block-input {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0 rem-calc(65) 0 rem-calc(50);
  background-color: #fff;
  z-index: 5;
  outline: 0;
  border: 0;
}

.header__search-block-input::-webkit-input-placeholder {
  color: map-get($grays, dark-disabled);
}

.header__search-block-input::-moz-placeholder {
  color: map-get($grays, dark-disabled);
}

.header__search-block-input:-ms-input-placeholder {
  color: map-get($grays, dark-disabled);
}

.header__search-block-input:-moz-placeholder {
  color: map-get($grays, dark-disabled);
}

.header__search-block-ico {
  position: absolute;
  left: rem-calc(15);
  top: 0;
  bottom: 0;
  margin: auto;
  color: map-get($colors, primary);
  z-index: 10;
}

.header__search-block-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: rem-calc(58);
  height: rem-calc(48);
  margin: auto;
  outline: 0;
  z-index: 10;
  cursor: pointer;
}

.header__search-block-btn-ico {
  color: map-get($grays, dark-disabled);
}

.header__hidden-item {
  display: none;
}

.search-drop-down__title {
  height: 4.5rem;
  line-height: 4.5rem;
  background-color: #e6e6e6;
}

.search-drop-down__item {
  padding-left: 2rem;
}

.search-drop-down__link {
  @include ellipsis;
  height: 3.8rem;
  line-height: 3.8rem;
}

.search-drop-down {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  width: 100%;
  color: rgba(0, 0, 0, 0.87);
  background-color: #fff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, 0.16);
  z-index: 5;
}

/* header user */

/* todo: cleanup */

.header__user {
  width: rem-calc(113);
  height: 100%;
  margin-left: rem-calc(-8);
  @include respond-to(md) {
    margin-left: 0;
    width: 100%;
    &:hover {
      .header__user-drop-down {
        background-color: inherit;
      }
    }
    .header__user-drop-down {
      display: none;
      @include respond-from(md) {
        display: block;
      }
    }
    .header__user-label {
      display: block;
    }
    .header__user-avatar {
      display: none;
    }
    .header__user-title {
      display: none;
    }
    .header__user-content {
      position: static;
      display: block;
      box-shadow: none;
    }
    .header__user-list {
      margin-top: -13px;
    }
    .header__user-list-item {
      padding: 8px 0;
    }
  }
}

.header__user {
  position: relative;
  display: flex;
  align-items: center;
}

.header__user-avatar {
  width: rem-calc(50);
  height: rem-calc(50);
  border: 1px solid #ebebeb;
  border-radius: 50%;
  overflow: hidden;
  z-index: 5;
}

.header__user-label {
  display: none;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
}

.header__user-drop-down {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: rem-calc(15);
  .header__user:hover & {
    background: #ebebeb;
  }
  &::before {
    content: '';
    position: absolute;
    right: rem-calc(10);
    top: 0;
    bottom: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: rem-calc(5) solid transparent;
    border-right: rem-calc(5) solid transparent;
    border-top: rem-calc(5) solid map-get($grays, dark-primary);
  }
}

.header__user-content {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: rem-calc(220);
  background-color: map-get($grays, light-primary);
  box-shadow: 0 1px 5px 1px rgba(0, 0, 0, .24);
  overflow: hidden;
  @include respond-from(md) {
    padding-left: rem-calc(7);
  }
  .header__user:hover & {
    display: block;
  }
}

.header__user-title {
  position: relative;
  width: 100%;
  height: rem-calc(45);
  line-height: rem-calc(45);
  font-size: rem-calc(15);
  color: map-get($grays, dark-primary);
  @include ellipsis;
  @include respond-from(md) {
    padding: 0 rem-calc(18);
  }
  &::before {
    content: '';
    position: absolute;
    left: rem-calc(-25);
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: rgba(map-get($grays, dark-primary), .1);
  }
}

.header__user-list {
  padding-bottom: rem-calc(13);
}

.header__user-list-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: rem-calc(15);
  line-height: rem-calc(32.5);
}

.header__user-link {
  color: map-get($grays, dark-primary);
  &:hover {
    color: map-get($colors, primary);
    .mat-button-focus-overlay {
      background-color: transparent;
    }
  }
  &--active {
    color: map-get($colors, primary);
  }
}
