@import "../../../styles/base/index";

:host(.image-slider) {
  position: relative;
  display: block;
}

.image-slider__item {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}

.image-slider__holder {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 2;
}

.image-slider__divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  z-index: 3;
  pointer-events: none;
  &::before {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: rem-calc(1);
    background-color: map-get($colors, primary);
    content: '';
  }
  &::after {
    position: absolute;
    top: 50%;
    right: rem-calc(-1);
    transform: translate(0, -50%);
    width: rem-calc(3);
    height: rem-calc(20);
    background-color: map-get($colors, primary);
    border-radius: 1px;
    content: '';
  }
}
