<app-header></app-header>
<div class="container container--tiny">
  <form class="block" [formGroup]="resetForm"
        (ngSubmit)="onSubmit(resetForm.value)" #form="ngForm">
    <header class="block__header auth-form__header">
      <h1>Willkommen zurück auf OKorNOK</h1>
      <h2 class="h3">Geben Sie bitte Ihr neues Passwort ein</h2>
    </header>
    <md-input-container class="input">
      <input mdInput placeholder="Neues Passwort" id="userPassword" formControlName="userPassword"
             [(ngModel)]="password"
             #passEl type="password">
      <button class="input__control" type="button" (click)="changePasswordType()">
        <md-icon *ngIf="show; else visibilityOff">visibility_off</md-icon>
        <ng-template #visibilityOff>
          <md-icon>remove_red_eye</md-icon>
        </ng-template>
      </button>
      <md-error>{{ formErrors.userPassword }}</md-error>
    </md-input-container>
    <md-input-container class="input">
      <input mdInput placeholder="Bitte wiederholen Sie Ihr Passwort" id="userConfirmPassword"
             formControlName="userConfirmPassword" [(ngModel)]="confirmPassword" #confPassEl type="password">
      <button class="input__control" type="button" (click)="changeConfPasswordType()">
        <md-icon *ngIf="showConf; else visibilityConfOff">visibility_off</md-icon>
        <ng-template #visibilityConfOff>
          <md-icon>remove_red_eye</md-icon>
        </ng-template>
      </button>
      <md-error>{{ formErrors.userConfirmPassword }}</md-error>
    </md-input-container>
    <div class="auth-form__group">
      <md-checkbox class="checkbox">Eingeloggt bleiben</md-checkbox>
    </div>
    <button class="auth-form__submit btn" md-raised-button type="submit" [disabled]="!resetForm.valid">Einloggen</button>
  </form>
</div>
