@import "../../styles/base/index";

.cta {
  display: flex;
  justify-content: center;
  min-height: rem-calc(215);
  color: map-get($grays, light-primary);
  text-align: center;
  background-position: 50% 82%;
  @media screen and (min-width: 481px) {
    background-size: 1600px;
    background-position-y: 72%;
  }
  @media screen and (min-width: 1601px) {
    background-size: cover;
  }
}

.cta__container {
  padding: 0 rem-calc(15) rem-calc(15);
  @include respond-from(sm) {
    width: 100%;
    max-width: rem-calc(513);
  }
}

.cta__title {
  margin: rem-calc(45) 0 rem-calc(33);
  font-size: rem-calc(24);
  font-weight: 400;
  line-height: 1.2;
  @include respond-from(sm) {
    margin: rem-calc(47) 0 rem-calc(34);
    font-size: rem-calc(30);
  }
}
