<app-header></app-header>
<div class="container container--full-width-mobile">
  <div class="grid-noBottom">
    <div class="col-3_md-12">
      <section class="block">
        <header class="block__header">
          <h1>Benutzerinformation</h1>
        </header>
        <app-user-info [first_name]="currentRater.first_name" [last_name]="currentRater.last_name"
                       [photo_url]="currentRater.photo_url" [occupation]="currentRater.occupation"></app-user-info>
      </section>
      <section class="block">
        <header class="block__header">
          <h1>Über mich</h1>
        </header>
        <p>{{currentRater.about}}</p>
      </section>
    </div>
    <div class="col-9_md-12">
      <section class="block">
        <header class="block__header">
          <h1>Bewertungen</h1>
        </header>
        <md-select class="sorter" placeholder="Kategorien" floatPlaceholder="never" (change)="selectingFeedbacks($event)">
          <md-option *ngFor="let state of filteredServices" value="{{state.id}}">Kategorien: {{ state.name }}</md-option>
        </md-select>
        <app-publication  class="publication--inner-indented block__full-width"
                         *ngFor="let feedback of pagedItems"
                         [ngClass]="{'publication--inactive': !feedback.is_approved || !feedback.is_displaying}"
                         [id]="feedback.id"
                         [isDisplayStatus]="true"
                         [isApproved]="feedback.is_approved"
                         [isDisplaying]="feedback.is_displaying"
                         [avatarUrl]="feedback.provider_photo_url"
                         [avatarCaption]="feedback.provider_company_name"
                         [ratersFeedbacks]="feedback.raters_feedbacks"
                         [serviceName]="feedback.service_name"
                         [title]="feedback.job_title"
                         [ownerRating]="feedback.rating"
                         [date]="feedback.created_at | date:'dd-MMM-yyyy'"
                         [body]="feedback.job_description"
                         [items]="feedback.photo_urls"
                         [socialData]="socialData"
                         [likes]="feedback.likes ? feedback.likes.length : 0"
                         [comments]="feedback.replies === null ? [] : feedback.replies"
                         [creatorId]="feedback.provider_id"
                         [creatorRole]="feedback.provider_role"
                         (reportEvent)="reportFeedback($event)"
        ></app-publication>
        <ul class="pagination">
          <li class="pagination__item" [ngClass]="{'pagination__item--disabled': pager.currentPage === 1}">
            <a class="pagination__link" (click)="setPage(pager.currentPage - 1)">
              <md-icon>keyboard_arrow_left</md-icon>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          <li class="pagination__item" *ngFor="let page of pager.pages"
              [ngClass]="{'pagination__item--active': pager.currentPage === page}">
            <a class="pagination__link" (click)="setPage(page)">{{page}}</a>
          </li>
          <li class="pagination__item"
              [ngClass]="{'pagination__item--disabled': pager.currentPage === pager.totalPages}">
            <a class="pagination__link" (click)="setPage(pager.currentPage + 1)">
              <md-icon>keyboard_arrow_right</md-icon>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
        <div></div>
      </section>
    </div>
  </div>
</div>
<app-footer></app-footer>
