<app-header></app-header>
<div class="container container--tiny">
  <form class="block" [formGroup]="forgotPassForm" #f="ngForm">
    <div class="block__header auth-form__header">
      <h1>Passwort vergessen</h1>
      <h2 class="h3">Tragen Sie Ihre E-Mail-Adresse ein und wir schicken Ihnen eine E-Mail mit einem Link. </h2>
    </div>
    <md-input-container class="input">
      <input mdInput placeholder="E-Mail" name="email" [(ngModel)]="email" formControlName="email" required>
      <md-error>Der Benutzer wurde nicht gefunden</md-error>
    </md-input-container>
    <button class="btn btn--full-width" type="button" md-raised-button (click)="checkUser()" [disabled]="!forgotPassForm.valid">Wieter</button>
  </form>
</div>
<!-- todo: replace to the separate component -->
<div class="modal" *ngIf="isVisiblePopup">
  <div class="modal__container">
    <div class="modal__block">
      <button class="modal__close" type="button">
        <md-icon class="modal__close-ico" (click)="closePopup()">close</md-icon>
      </button>
      <h3 class="modal__title">Forgot your password?</h3>
      <div class="modal__content">
        <p>The reset link has been sent to <strong>{{email}}</strong>. Please follow the link
          in this email to reset your password.</p>
        <p>If you didn`t receive an email click <a (click)="checkUser()">RESENT</a></p>
        <p>If you have more questions about password reset, please connect our supporter <a href="mailto:support@okornok.com">support@okornok.com</a></p>
      </div>
    </div>
  </div>
</div>
