<div class="footer__container">
  <footer class="footer">
    <div class="footer__col">
      <h3 class="h2">Information &amp; Kontakt</h3>
      <ul class="footer__list">
        <li><a routerLink="/about-us" routerLinkActive="active">Impressum</a></li>
        <li><a routerLink="/privacy-policy" routerLinkActive="active">Datenschutzerklärung</a></li>
        <li><a routerLink="/terms-conditions" routerLinkActive="active">Nutzungsbedingungen</a></li>
        <li><a routerLink="/about-us" fragment="kontakt">Kontakt</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="h2">Für Dienstleister</h3>
      <ul class="footer__list">
        <li><a routerLink="/how-it-works-provider" routerLinkActive="active">So funktioniert's</a></li>
        <li><a routerLink="/billing" routerLinkActive="active">Mitgliedschaft</a></li>
        <li><a routerLink="/register/provider" class="important">Als Dienstleister registrieren</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="h2">Für Bewerter</h3>
      <ul class="footer__list">
        <li><a routerLink="/how-it-works-rater" routerLinkActive="active">So funktioniert's</a></li>
        <li><a routerLink="/search" routerLinkActive="active">Dienstleistung suchen</a></li>
        <li><a routerLink="/register/rater" class="important">Als Bewerter registrieren</a></li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="h2">Connect</h3>
      <ul class="footer__list footer__list--social">
        <li><a href="https://www.facebook.com" data-icon-left="icon-facebook"><span>Facebook</span></a></li>
        <li><a href="https://www.twitter.com" data-icon-left="icon-twitter"><span>Twitter</span></a></li>
      </ul>
    </div>
  </footer>
</div>

