<strong class="slider-group__label">Umkreis: 10km</strong>
<md-slider class="slider" thumb-label="true" min="10" max="110" step="1" tick-interval="10"></md-slider>
<ul class="slider-group__steps">
  <li class="slider-group__step"><span>10</span></li>
  <li class="slider-group__step"><span>20</span></li>
  <li class="slider-group__step"><span>30</span></li>
  <li class="slider-group__step"><span>40</span></li>
  <li class="slider-group__step"><span>50</span></li>
  <li class="slider-group__step"><span>60</span></li>
  <li class="slider-group__step"><span>70</span></li>
  <li class="slider-group__step"><span>80</span></li>
  <li class="slider-group__step"><span>90</span></li>
  <li class="slider-group__step"><span>100</span></li>
  <li class="slider-group__step"><span>100+</span></li>
</ul>
