<div class="section">
  <header class="section__header section__header--between">
    <div class="section__header-group">
      <app-filter
        title="Konto status"
        [list]="[{value: true,  name: 'Aktiv'},
                 {value: false, name: 'Gesperrt'}]"
        (onSelectItem)="filterByStatus($event)"
      ></app-filter>
    </div>
    <div class="section__search control-group">
      <input class="control-group__input input-alt" placeholder="Suche" type="text"
             value="" autocomplete="off" #searchField>
      <button class="control-group__btn btn" type="submit" md-raised-button (click)="doSearch()">
        <md-icon class="control-group__ico">search</md-icon>
      </button>
    </div>
  </header>
  <div class="section__body section__body--full-width-mobile">
    <div class="block">
      <header class="block__header">
        <h2>Bewerter</h2>
      </header>
      <div class="block__full-width is-scrollable">
        <table class="table" *ngIf="raters.length">
          <tr class="table__row table__header-row">
            <th class="table__header table__header--sorted table__header-1" [ngClass]="{'table__header--active': isSortBy('name')}" (click)="sortEntities('name')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('name') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Name</div>
            </th>
            <th class="table__header table__header--sorted table__header-2" [ngClass]="{'table__header--active': isSortBy('date')}" (click)="sortEntities('date')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('date') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Reg. Datum</div>
            </th>
            <th class="table__header table__header--sorted table__header-3" [ngClass]="{'table__header--active': isSortBy('status')}" (click)="sortEntities('status')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('status') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Status</div>
            </th>
            <th class="table__header table__header--sorted table__header-4" [ngClass]="{'table__header--active': isSortBy('feedback')}" (click)="sortEntities('feedback')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('feedback') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Anz. bewertungen</div>
            </th>
            <th class="table__header table__header--sorted table__header-5" [ngClass]="{'table__header--active': isSortBy('email')}" (click)="sortEntities('email')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('email') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Email</div>
            </th>
            <th class="table__header table__header--sorted table__header-6" [ngClass]="{'table__header--active': isSortBy('address')}" (click)="sortEntities('address')">
              <div class="table__text"><md-icon class="table__header-ico">{{(isSortBy('address') && isSortReverce) ? 'arrow_upward' : 'arrow_downward'}}</md-icon> Ort</div>
            </th>
          </tr>
          <tr class="table__row"
              *ngFor="let rater of pagedItems; let i = index"
              [ngClass]="{'table__row--highlighted': isActiveRow(i)}"
              (contextmenu)="onContextMenu($event, rater, i)">
            <td class="table__data table__data-1" mdTooltip="{{rater.first_name + ' ' + rater.last_name}}">
              <div class="table__text">{{rater.first_name + ' ' + rater.last_name}}</div>
            </td>
            <td class="table__data table__data-2" mdTooltip="{{rater.created_at | date}}">
              <div class="table__text">{{rater.created_at | date}}</div>
            </td>
            <td class="table__data table__data-3" mdTooltip="{{rater.User.is_enabled ? 'Aktiv' : 'Gesperrt'}}">
              <div class="table__text">{{rater.User.is_enabled ? 'Aktiv' : 'Gesperrt'}}</div>
            </td>
            <td class="table__data table__data-4" mdTooltip="{{rater.Feedbacks.length}}">
              <div class="table__text">{{rater.Feedbacks.length}}</div>
            </td>
            <td class="table__data table__data-5" mdTooltip="{{rater.User.email}}">
              <div class="table__text">{{rater.User.email}}</div>
            </td>
            <td class="table__data table__data-6" mdTooltip="{{rater.city}}">
              <div class="table__text">{{rater.city}}</div>
            </td>
          </tr>
        </table>
        <div class="context-menu__wrapper">
          <context-menu class="context-menu" (close)="processContextMenuCloseEvent()" #basicMenu></context-menu>
        </div>
      </div>
      <div>
        <div class="table-controls">
          <span>Zeilen pro Seite:</span>
          <md-select class="table-controls__sorter sorter" [placeholder]="tableRows[0]" [floatPlaceholder]="'never'">
            <md-option *ngFor="let row of tableRows" [value]="row" (click)="setTableRows(row)">{{row}}</md-option>
          </md-select>
          <span class="table-controls__page">{{getPagesRange()}} von {{allItems.length}}</span>
          <button class="table-controls__btn">
            <md-icon class="table-controls__btn-ico" (click)="setPage(pager.currentPage - 1)">keyboard_arrow_left</md-icon>
          </button>
          <button class="table-controls__btn">
            <md-icon class="table-controls__btn-ico" (click)="setPage(pager.currentPage + 1)">keyboard_arrow_right</md-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>




